<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Chess Game</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{% static  'chessboardjs-1.0.0/css/chessboard-1.0.0.css' %}">
    <script src="{% static 'chessboardjs-1.0.0/js/chessboard-1.0.0.min.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var board = Chessboard('board', {
                draggable: true,
                position: 'start',
                onDrop: onDrop
            });

            function onDrop(source, target, piece) {
                console.log(`Move from ${source} to ${target}`);
            }
        });
    </script>
</head>
<body>
    <h1>Chess Game</h1>
    <div id="board" style="width: 400px;"></div>
</body>
</html>
